server:
  port: 8085

spring:
  application:
    name: jobsearcher
  datasource:
    url: jdbc:postgresql://localhost:5432/jobsearchDB
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o
    vectorstore:
      pgvector:
        initialize-schema: true
  docker:
    compose:
      lifecycle-management: start_only
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

tavily:
  api-key: ${TAVILY_API_KEY}

logging:
  level:
    org:
      apache:
        pdfbox:
          pdmodel:
            font:
              FileSystemFontProvider: ERROR
      springframework:
        ai:
          chat:
            client:
              advisor:
                SimpleLoggerAdvisor: INFO

otlm:
  base-url: http://localhost:8082/jobs