server:
  port: 8085

spring:
  application:
    name: jobsearcher
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o
    vectorstore:
      pgvector:
        initialize-schema: true
  docker:
    compose:
      lifecycle-management: start_only
  jpa:
    hibernate:
      ddl-auto: update

tavily:
  api-key: ${TAVILY_API_KEY}

otlm:
  base-url: http://host.docker.internal:8082

logging:
  level:
    org:
      apache:
        pdfbox:
          pdmodel:
            font:
              FileSystemFontProvider: ERROR
      springframework:
        ai:
          chat:
            client:
              advisor:
                SimpleLoggerAdvisor: INFO